.diary-chat-box-container {
    margin-block: auto;
    width: 450px;
    height: 100vh;
    color: white;
    font-family: 'Pretendard-Regular';
  }

  .diary-chat-box-content-container {
    width: 100%;
    height: 70% ;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse;

  }
  
  .diary-mywords-content {
    overflow-y: auto;
  }

  .diary-mywords-content::-webkit-scrollbar {
    width: 10px;  /* 스크롤바의 너비 */
  }
  
  .diary-mywords-content::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #898B98; /* 스크롤바의 색상 */
    border-radius: 10px;
  }
  
  .diary-mywords-content::-webkit-scrollbar-track {
    background: #595B63;  /*스크롤바 뒷 배경 색상*/
    border-radius: 10px;
  }