.Message {
  display: flex;
  flex-direction: row;
  height: 100vh;
  min-width: 375px;
}

.message-profile-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  background-color: #fffcfc00;
  padding: 20px;
}

.message-container {
  flex: 4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
  background-color: (0, 0, 0, 0);
  padding: 20px;
  overflow-y: auto;
  align-self: center;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.messages-none-text {
  font-family: Pretendard;
  color: white;
  font-size: 13px;
  opacity: 0.8;
}

.input-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e1e1e100;
  padding: 20px;
  align-self: center;
  height: 80%;
}

.default-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-avatar{
  text-align: center;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 10px;
}

.message-edit-profile-button{
  margin: 0px !important;
}

.default-info-container {
  font-family: Pretendard;
  text-align: center;
}

.profile-page-user-image{
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;
}


.nickname {
  font-size: 1.5em;
  margin: 10px 0;
}

.email {
  font-size: 1em;
  margin: 10px 0;
}

.btn {
  margin-top: 10px;
}


.msg-container{
  flex:4;
  display: flex;
}

.hidden{
  flex:2;
}

.visible{
  flex:3;
}

.message-input-keyword{
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  margin: 10px;
  gap: 10px;
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 1024px) {
  .Message {
    flex-direction: row;
  }

  .message-profile-container {
    display: none;
  }

  .message-container,
  .input-container {
    flex: 1;
    width: 100%;
    height: 80%;
    justify-content: center;
  }
  
}

@media (max-width: 768px) {
  .Message {
    flex-direction: column;
    overflow-x: hidden;
  }

  .message-profile-container {
    display: none;
  }

  .msg-container {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .msg-container.visible {
    display: flex;
  }

  .toggle-btn {
    display: block;
    margin: 10px auto;
  }
}

@media (min-width: 769px) {
  .toggle-btn {
    display: none;
  }
}
