.ai-chat-container {
  display: flex;
  margin: auto;
  margin-top: 120px;
  text-align: center;
  color: white;
}

.ai-chat-cam {
  margin-top: 5%;
}

/* 미디어 쿼리 추가 */
@media (max-width: 1200px) {
  .ai-chat-box {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 992px) {
  .ai-chat-cam {
    display: none;
  }
  .ai-chat-box {
    flex: 0 0 70%;
    max-width: 70%;
    margin-left: 100px;
  }
}

@media (max-width: 768px) {
  .ai-chat-cam {
    display: none;
  }
  .ai-chat-box {
    flex: 0 0 90%;
    max-width: 90%;
    margin-left: 0; /* 가운데 정렬을 위해 margin-left 제거 */
  }
}

.aichat-button-bar {
  display: flex;
  margin: auto;
  margin-top: 5%;
  background-color: rgba(66, 66, 66, 0.50);
  border-radius: 23px;
  width: 330px;
  height: 50px;
}

.aichat-button-bar p {
  font-family: 'Pretendard-Regular';
  font-size: 10px;
  margin: auto;
  flex: 1;
  border-radius: 100px;
  cursor: pointer;
}

.aichat-button-bar span {
  padding-left: 7px;
  font-size: 10px;
}

.aichat-button-bar > span {
  padding-bottom: 3px;
  margin: auto;
  font-size: 15px;
  opacity: 0.3;
}


.aichat-button-bar-type {
  cursor: pointer;
  padding: 10px;
}
.aichat-button-bar-type.active {
  color: #6B73A7;
  font-weight: 700;
}

.diary-report-modal-after-chat{
  position: absolute !important;
  top: 50px;
  left: 0;
  z-index: 10000;
}

.ai-chat-guide {
  opacity: 0.9;
  margin-top: 20px;
  position: relative;
  display: inline-block;
}

.ai-chat-guide-text {
  opacity: 0.9;
  font-family: Pretendard;
  font-size: 12px;
  font-weight: 100;
  margin-left: 5px;
}

.ai-chat-tooltip {
  font-family: Pretendard;
  font-size: 12px;
  line-height: 20px;
  visibility: hidden;
  width: 340px;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the guide */
  left: 50%;
  margin-left: -80px; /* Center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.ai-chat-tooltip::after {

  content: '';
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.ai-chat-guide:hover .ai-chat-tooltip {
  padding: 10px;
  visibility: visible;
  opacity: 1;
}